@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


body {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 30px;
}

.container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header .logo h1{
    font-size: 26px;
    color: #222;
    padding: 35px 0px;
    font-family: url("fonts/static/Inter-ExtraBold.ttf");
}

.container header .nav ul{
    display: flex;
    align-items: center;
    justify-content: center;

}

.container header .nav ul li {
    padding: 35px 15px;
}
.container header .nav ul li:last-child {
    padding-right: 0px;
}

.container header .nav ul li a{
    color: rgb(28, 48, 85);
    font-size: 15px;
}
.container header .nav ul li a:hover{
    color: rgb(46, 100, 201);
}
main {
    display: flex;
    margin-bottom: 20px;
}

main .content1 {
    max-width: 600px;
    margin-right: 20px;
}

main .content1 img{
    max-width: 600px;
}

main .content1 .cols {
    display: flex; 
    justify-content: space-between;
}
main .content1 .cols .head {
    width: 250px;
}

main .content1 .cols .head h1 {
    font-size: 40px;
    padding: 20px 0px;
}

main .content1 .cols .texts {
    max-width: 320px;
}

main .content1 .cols .texts  p {
    font-size: 16px;
    word-spacing: 4px;
    padding: 20px 0px;

}

main .content1 .cols .texts button {
    width: 140px;
    height: 40px;
    background-color: rgb(241, 82, 61);
    border: none;
    word-spacing: 4;
    color: #fff;
    font-size: 16px;
}

main .content2 {
    max-width: 400px;
    background-color: rgb(13, 8, 41);
}

main .content2 h1 {
    font-size: 35px;
    padding: 20px 20px;
    color: rgb(255, 176, 29);
    text-align: center;
}

main .content2 .news-heading {
    max-width: 100%;
    padding: 10px 20px;
}

main .content2 .news-heading h3 {
    font-size: 18px;
    padding: 5px;
    color: #fff;
}

main .content2 .news-heading p {
    font-size: 14px;
    color: #ffe;
    padding: 5px;
}

main .content2 .news-heading hr {
    margin-top: 20px;
    height: .1px;
}



.tech-news {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.tech-news .posts {
    display: flex;
    max-width: 320px;
    height: 120px;
}

.tech-news .posts img{
    width: 90px;
}

.tech-news .posts .content {
    margin-left: 10px;
}


.tech-news .posts .content h2 {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.404);
}

.tech-news .posts .content h3 {
    padding: 5px 0;
}


.tech-news .posts .content p {
    font-size: 14px;
    padding: 5px 0;
}















/* 



@media (max-width: 700px) {
      
    .container {
        max-width: 700px;
        padding: 0px;
    }
    header {
        position: relative;
    }
     
    header .nav ul{
       display: flex;
       flex-direction: column;
       justify-content: none;
       position: absolute;
       width: 300px;
       background-color: #fff;
       top: 20px;
       right: 0px;
       margin: 0px;
       padding: 0px;
       display: none;
    }

    header .nav ul li {
      padding: 10px !important;
      display: flex;


      
    }
    main .content1 {
        width: 100%;
    }
    main .content1 .cols {
        display: flex; 
        flex-direction: column;
    }
    main .content1 .cols .head {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    main .content1 .cols .texts {
        width: 100%;
       
    } 


   
    main {
        display: flex;
        flex-direction: column;
    }



} */